p.
    Click the button and then resize the window.

//- Add "?html5=1" to the video url to force HTML5 video
a(class="video-link" href="https://www.youtube.com/embed/ONaPq2L-MRg?html5=1" data-width="1920" data-height="1080")
    | Open video


